name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout your repo
      - uses: actions/checkout@v3

      # 2. Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.0'  # match your venv Python version

      # 3.Install system dependencies for building Python packages such as greenlet
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential python3.12-dev libffi-dev libssl-dev
          python -m pip install --upgrade pip wheel setuptools

      # 4. Install Python dependencies
      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt
          python -m playwright install chromium firefox

      # 5. Run tests
      - name: Run Playwright tests
        run: |
          pytest test_example.py